.btn-group {
  margin-left: 8px;
}

.btn {
  position: relative;
  border: 2px solid dodgerblue;
  background-color: rgb(255, 255, 255);
  color: #1e90ff;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 4px;
  overflow: hidden;
  outline: none;
  transition: all 0.3s;
}
button.btn {
  margin-right: 8px;
}
.btn:hover,
.btn:active,
.btn:focus {
  background-color: #1e90ff;
  color: rgb(255, 255, 255);
}
